---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "@fontsource/anton";
import "@fontsource/ubuntu";

// importar iconos de skills

import IconoNodeJS from "../assets/IconoNodeJS.webp";
import IconoAstro from "../assets/IconoAstro.jpg";
import IconoJS from "../assets/IconoJS.png";
import IconoCSS from "../assets/IconoCSS.svg";
import IconoSQL from "../assets/IconoSQL.webp";
import IconoPHP from "../assets/IconoPHP.webp";
---

<Layout title = "Habilidades - JesusJM">
    <Header />
    <div class="ContenedorPrincipalDeSkills">
        <center>
            <div class="FotoDePerfil"></div>
            <p class="JesusJM">Jesus <nav class="extenJesusJM">JM</nav></p>

            <p class="ContenedorDeTextoAntesDeSkill">
                I simply love everything related to technology, especially when
                it comes to programming. I have a strong focus on front-end and
                back-end.
            </p>
        </center>
        <p class="TextoDePerfilSkills">Skills</p>

        <!-- Contenedores y skills [skills] -->

        <div class="ContenedorDeSkills">
            <div class="SkillsContenedor">
                <div class="SkillsContenedorSub">
                    <img src={IconoNodeJS.src} alt="icono de node js" />
                </div>
                <p>Node JS</p>
            </div>

            <div class="SkillsContenedor">
                <div class="SkillsContenedorSub">
                    <img
                        src={IconoAstro.src}
                        alt="icono de el framework Astro"
                    />
                </div>
                <p>Astro</p>
            </div>

            <div class="SkillsContenedor">
                <div class="SkillsContenedorSub">
                    <img src={IconoJS.src} alt="icono de Java Script" />
                </div>
                <p>JavaScript</p>
            </div>

            <div class="SkillsContenedor">
                <div class="SkillsContenedorSub">
                    <img src={IconoCSS.src} alt="icono de node css" />
                </div>
                <p>CSS</p>
            </div>

            <div class="SkillsContenedor">
                <div class="SkillsContenedorSub">
                    <img src={IconoSQL.src} alt="icono de el MySQL" />
                </div>
                <p>MySQL</p>
            </div>

            <div class="SkillsContenedor">
                <div class="SkillsContenedorSub">
                    <img src={IconoPHP.src} alt="icono de Java PHP" />
                </div>
                <p>PHP</p>
            </div>
        </div>
    </div>
    <Footer />
</Layout>

<style>
    .ContenedorDeSkills {
        position: relative;
        width: 100%;
        margin-top: 20px;
        padding: 30px 0px;
        background: transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    .SkillsContenedorSub {
        position: relative;
        width: 70px;
        height: 70px;
        background: rgba(255, 255, 255, 0.315);
        border-radius: 15px;
        margin: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .SkillsContenedor {
        color: white;
        text-align: center;
        color: rgba(255, 255, 255, 0.884);
        font-family: "Ubuntu", sans-serif;
        font-size: 12px;
    }

    .SkillsContenedorSub img {
        width: 40px;
        height: 40px;
        border-radius: 5px;
        object-fit: contain;
    }

    .ContenedorPrincipalDeSkills {
        position: relative;
        width: 100%;
        padding: 30px 0px;
        background: rgb(19, 19, 19);
    }
    .FotoDePerfil {
        position: relative;
        height: 100px;
        width: 100px;
        background: url("../assets/FotoDePerfil.jpg") center no-repeat;
        background-size: cover;
        border-radius: 50px;
        border: 3px solid #c1ff72;
        margin-top: 20px;
    }
    .JesusJM,
    nav {
        color: white;
        font-family: "Ubuntu", sans-serif;
        letter-spacing: 0.5px;
        font-size: 20px;
        font-weight: 900;
        display: inline-block;
    }
    .extenJesusJM {
        color: #c1ff72;
    }

    .ContenedorDeTextoAntesDeSkill {
        color: rgba(255, 255, 255, 0.884);
        font-family: "Ubuntu", sans-serif;
        width: 85%;
        font-size: 12px;
        text-align: left;
        max-width: 320px;
    }

    .TextoDePerfilSkills {
        position: relative;
        text-align: center;
        margin-top: 20px;
        color: #c1ff72;
        padding: 5px 20px;
        border: 2px solid #c1ff72;
        font-family: "Ubuntu", sans-serif;
        font-size: 12px;
        width: 80px;
        border-radius: 20px;
        margin: auto;
    }
    a {
        -webkit-tap-highlight-color: transparent;
        text-decoration: none;
    }
</style>
